body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 450px;
	font-family: inherit;
	font-size: large;
}

.container h1 {
	font-size: 2.2rem;
	font-weight: 700;
	margin-top: 100px;
}

.container textarea:focus, input:focus {
    outline: none;
}

.container input[type=text] {
	width: 100%;
 	padding: 15px;
 	margin-bottom: 10px;
}

.container input[type=submit] {
 	padding: 10px;
 	margin-bottom: 20px;
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

img {
	height: 24px;
	width: 24px;
}